# Dependency directories
node_modules/
**/node_modules/

# Local databases
backend/database.sqlite
database.sqlite

# Build files
dist/
out-tsc/
build/
.tmp/
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
.idea/
.vscode/